<p id="notice"><%= notice %></p>

<div class="hero-unit">
  <h1><%= @post.title %></h1>
</div>


	<div class = "post">		  		
  		<h2>Tema:</h2>
		<p><%= @post.content %></b>
	</div>

<div class="row-fluid">
  <div class="span12">
   
    <h2>Comentarios de visitantes</h2>
    <hr>
   
      
        <%= simple_form_for([@post, @post.comments.new]) do |f| %>
          <div class="field">
          <%=f.input :visitor, :label => 'Autor: '  %><br />
          
          </div>
          <div class="field">
          <%= f.input :message, :label => 'Escriba su comentario', :input_html => { class: "text_area_custom" }  %><br />
         
          </div>
          <div class="actions">
          <%= f.button :submit %>
          </div>
        <% end %>
      
    
    
      
      <% @post.comments.each do |comment| %>
        <% unless comment.new_record? %>
          <div class ="comments">
              <p>
              <strong>Visitante:</strong>
              <%= comment.visitor %>
              </p>
              <p>
              <strong>Comment:</strong>
              <%= comment.message %> 
            </div>
          <% end %>
        <% end %>
 
  </div>
</div>

	
  		 
<%= link_to 'volver', posts_path %>

