<!DOCTYPE html>
<html>
<head>
  <title>El blog de Guille </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "navbar navbar-fixed-top" >
	<div class = "navbar-inner">
		<div class = "container">
			<a href="/" class = "brand">Inicio</a>
			 <ul class = "nav pull-right">
				<% if blogger_signed_in? %>
						<li><%= link_to current_blogger.full_name, edit_blogger_registration_path %></li>
						<li><%= link_to "Cerrar sesion" ,destroy_blogger_session_path, method: :delete %></li>
				<% else %>
						<li><%= link_to "Registrarse", new_blogger_registration_path %></li>
						<li><%= link_to "Sign in with Facebook", blogger_omniauth_authorize_path(:facebook) %></li>
						<li><%= link_to "Iniciar sesion", new_blogger_session_path %></li>
				<% end %>
				</ul>
		</div>
	</div>
</div>

	<div class = "container">
			<% flash.each do |type, message| %>
		<div class = "alert <%= flash_class type %>" >
    		<button class="close" data-dismiss = "alert" >x</button> 
			<%= message %>
		</div>
		<% end %>
		<%= yield %>

			
	</div>
	

</body>
</html>
